<div class="card">
  <div class="card-block">
    <h2 class="card-title">{{this.title}}</h2>
    <h4 class="card-text">{{this.restaurantName}}</h4>
    <p class="card-text">{{this.description}}</p>
  </div>
</div>