<link rel="stylesheet" href="../css/sign-up.css">
<div class="row">
  <div class="col-md-6" id="welcome">
    <div id="background">
        <div id="welcome-message">
        <h1 class="title">Welcome to BlindTaste!</h1>
        <small>come and try something new!</small>
        </div>
    </div>
  </div>
  <div class="col-md-6">
    <form action="/sign-up" method="post">
      <legend>Signup</legend>
      <div class="form-group">
        <label for="form-label w-100">Username</label>
        <input type="text" name="username" class="form-control" placeholder="Username" />
      </div>
      <div class="form-group">
        <label for="form-label w-100">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password" />
      </div>
      <div class="text-right">
        <button type="submit" class="btn btn-primary">Create User</button>
      </div>
    </form>
    <a href="/login/">Already have an account? Login</a>
  </div>
</div>