.row {
    width: 100vw;
}

form {
    margin-top: 100px;
    text-align: center;
}

input {
    margin-left: 25%;
}

#left {
    background-color: #013220;
    height: 100vh;
}

.container {
    margin-left: 0;
    margin-right: 0 !important;
}

.title {
    font-size: 40px;
    color: white;
    text-align: center;
    margin-top: 45%;
}

legend {
    text-align: center;
    margin-bottom: 50px;
    font-size: 30px;
}

.form-control {
    margin-bottom: 50px;
    width: 350px;
}

.username,
.password {
    text-align: center;
}

.btn-primary {
    background-color: #013220;
    border: none;
    width: 120px;
    float: right;
    justify-content: flex-end;
}

.btn-primary:hover {
    background-color: black;
}

a {
    color: #013220;
    text-decoration: none;
    margin-left: 25%;
}

a:hover {
    color: black;
}