.row {
    width: 100vw;
}

form {
    margin-top: 100px;
    text-align: center;
}

input {
    margin-left: 25%;
}

#welcome {
    background-image: url('../images/food-header.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
#background{
    text-align: center;
    background-color: white;
    height: 30%;
    margin-top: 45%;
    opacity: 0.6;
    border-radius: 55px;
}
.title{
    color: black;
    padding-top: 12%;
}

.container {
    margin-left: 0;
    margin-right: 0 !important;
}

legend {
    text-align: center;
    margin-bottom: 50px;
    font-size: 30px;
}
small{
    font-weight: bold;
    font-size: 16px;
}

.form-control {
    margin-bottom: 50px;
    width: 350px;
}

.username,
.password {
    text-align: center;
}

.btn-primary {
    background-color: #013220;
    border: none;
    width: 120px;
    float: right;
    justify-content: flex-end;
}

.btn-primary:hover {
    background-color: black;
}

a {
    color: #013220;
    text-decoration: none;
    margin-left: 25%;
}

a:hover {
    color: black;
}